@import 'https://fonts.googleapis.com/css?family=Rock+Salt';

.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
}

#about_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
}

.about-container {
  transform: translateY(20%);
  display: flex;
  justify-content: space-around;
}

.polaroid {
  padding-top: 25px;
  width: 425px;
  height: 500px;
  background: #FFF;
  box-shadow: 2px -2px 20px 0px rgba(0,0,0,0.6), inset 4px 5px 10px 0 rgba(0,0,0,0.1);
  transform: rotate(-2deg);
}

.polaroid img{
  display: block;
  margin: auto;
  width: 93%;
  border: 1px rgb(177, 173, 173) solid;
}

.polaroid p{
  text-align: center;
  padding: 15px 20px;
  letter-spacing: .1em;
  font-family: "Rock Salt", sans-serif;
}

.about-text {
  border: 2px black solid;
  padding: 30px;
  background: lightblue;
  width: 600px;
}

.card-deck {
  margin: auto;
}

.card-links {
  display: flex;
  justify-content: space-around;
}

.contact-form {
  width: 80%;
  margin: auto;
}