@import 'https://fonts.googleapis.com/css?family=Rock+Salt';
@import 'https://fonts.googleapis.com/css2?family=Raleway';

.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
}

#about_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
}

.white-box {
  background-color: white;
  color: #343a41;
  width: 30vw;
  height: 30vh;
  position:absolute;
  top: 35vh;
  left: 35vw;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #343a41;
  font-family: 'Raleway', sans-serif;
}

.white-box-name {
  font-size: 50px;
  color: #343a41;
  position: relative;
  top: 10%;
  letter-spacing: 12px;
}

.white-box-job {
  font-size: 25px;
  color: #343a41;
  position: relative;
  top: 15%;
}

.about-container {
  transform: translateY(20%);
  display: flex;
  justify-content: space-around;
}

.polaroid {
  padding-top: 25px;
  width: 425px;
  height: 500px;
  background: #FFF;
  box-shadow: 2px -2px 20px 0px rgba(0,0,0,0.6), inset 4px 5px 10px 0 rgba(0,0,0,0.1);
  transform: rotate(-2deg);
}

.polaroid img{
  display: block;
  margin: auto;
  width: 93%;
  border: 1.5px rgb(177, 173, 173) solid;
}

.polaroid p{
  text-align: center;
  padding: 15px 20px;
  letter-spacing: .1em;
  font-family: "Rock Salt", sans-serif;
}

.about-text {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 30px;
  background: #E55D87;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
  width: 600px;
}

.card-deck {
  margin: auto;
}

.card-links {
  display: flex;
  justify-content: space-around;
}

.contact-form {
  width: 80%;
  margin: auto;
}

.landing-pic {
  /* display: flex; */
  /* width: 100vw; */
  width: 100%;
  height: 95vh;
  /* opacity: 95%; */
  /* height: 100vh; */
  /* object-fit: fill; */
  /* filter: grayscale(50%);
  filter: blur(5px);
filter: brightness(0.4);
filter: contrast(200%);
filter: drop-shadow(16px 16px 20px blue);
filter: grayscale(50%);
filter: hue-rotate(0deg);
filter: invert(75%);
filter: opacity(25%);
filter: saturate(30%);
filter: sepia(60%); */
}

.bold {
  font-weight: bold;
  background-color: blue;  
}

.container {
  display: flex;
  justify-content: space-around;
}

.container img{
  width: 80px;
}

.slide {
  width: 95%;
  background: lightblue;
  height: 60vh;
  left: 2.5%;
}

.slide2 {
  width: 100vw;
  background: pink;
  height: 60vh;
}

.slide3 {
  width: 100vw;
  background: lightgreen;
  height: 60vh;
}

.card_text {
  color: black;
  text-align: left;
}

.slide_class {
  display: flex;
  justify-content: space-between;
}


